.projects-div{
    width: 100%;
    height: 655.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    border-radius: 9px;
  }
  
  .project-card{
    width: 50%;
    height: 80%;
    background: linear-gradient(90deg, #7A87FB, #FFD49C);
  }
  .project-card2{
    width: 50%;
    height: 80%;
    background: linear-gradient(90deg, #FFD49C, #7A87FB);
  }

  .project-content{
    width: 35%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .project-number{
    margin-left: 80px;
    width: 56.22px;
    height: 56.22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 25.2px;
    padding: 3px;
    border: 0.84px solid rgb(50, 46, 46);
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(60deg, #7A87FB, #FFD49C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .project-name{
    margin-left: 80px;
    font-weight: 700;
    font-size: 36px;
  }
